* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c4cec6;
}

body::-webkit-scrollbar-track {
  background-color: #3e5863;
}
/* Login page css*/
.content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: skyblue;

}
 .card {
  max-width: 450px;
  border-radius: 50px;
  line-height: 40px;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
  border-radius: 10px !important;
}
.text {
  margin-bottom: 20px !important;
  text-align: center;
  font-size: 100px;
  background-color: rgb(119, 193, 15);
  border-radius: 40px;
  color: white;
  padding: 10px 0;
}

